body {
	margin:0px;
}

.vd-viewer {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
}

.vdLoader {
	box-sizing:border-box;
}

.vdLayer {
	position:absolute;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
	box-sizing:border-box;
}


/* canvas properties */
canvas > .destination > label {
	
}

canvas > .selectedColor {
	
}

canvas > .shape {
	background-color: #FFFFFF;
	border-width: 0px;
}

canvas > .destination {
	
}


/* resources icons */

.vd-viewer > .icon-arrow {
    background-image: url( "./resources/pictos/arrow.svg" );
    width: 150px;
    height: 150px;
}

.vd-viewer > .icon-escalator-up {
    background-image: url( "./resources/pictos/escalator-up.svg" );
    width: 150px;
    height: 150px;
}

.vd-viewer > .icon-escalator-down {
    background-image: url( "./resources/pictos/escalator-down.svg" );
    width: 150px;
    height: 150px;
}

.vd-viewer > .icon-elevator-up {
    background-image: url( "./resources/pictos/ascenseur-up.svg" );
    width: 150px;
    height: 150px;
}

.vd-viewer > .icon-elevator-down {
    background-image: url( "./resources/pictos/ascenseur-down.svg" );
    width: 150px;
    height: 150px;
}

.vd-viewer > .icon-stairs-up {
    background-image: url( "./resources/pictos/escalier-up.svg" );
    width: 150px;
    height: 150px;
}

.vd-viewer > .icon-stairs-down {
    background-image: url( "./resources/pictos/escalier-down.svg" );
    width: 150px;
    height: 150px;
}

.vd-viewer>.icon-you-are-here {
    background-image: url( "./resources/pictos/you-are-here.svg" );
    width: 200px;
    height: 68px;
}
